.doc{
    color: #5FC7C7;
    font-weight: bold;
}
.doc-name{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}
.doc-phone{
    font-size: 10px;
    color: #B3B2B5;
}
.phn-icon{
    color: #5FC7C7;
    font-size: 12px;
    margin-top: 2px;
}